# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.venv/

# ML models
*.pt
*.pth
*.onnx
runs/
datasets/
wandb/


# Dependencies
**/node_modules/

# Next.js
**/.next/
**/out/

# Environment variables
env/
venv/
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
